div textarea {
  width: 90%;
  height: 150px;
  padding: 12px 20px;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
}
input[type=number] {
    width: 90%;
    padding: 12px 20px;
    border-radius: 3px;
    margin-right: 10px;
    border-color: #4CAF50;
}
table thead th img {
    width: 80%;
    border-radius: 50%;
    margin-right: 20px;
    padding: 12px 20px;
}
table thead th h1 {
    font-size: 75px;
    letter-spacing: 2px;
    text-decoration: underline;
    text-transform: uppercase;
}

